# MolocoAdapter XcodeGen Project Specification
# Uses shared template and adds MolocoAdapter-specific overrides
# Template: Config/xcodegen/module.project_template.yml

include:
  - ../../../Configs/xcodegen/module.project_template.yml

name: MolocoAdapter

settings:
  base:
    # Product Configuration
    PRODUCT_NAME: MSPMolocoAdapter
    PRODUCT_BUNDLE_IDENTIFIER: com.newsbreak.msp.MolocoAdapter
    PRODUCT_MODULE_NAME: MSPMolocoAdapter

targets:
  MolocoAdapter:
    type: framework
    platform: iOS
    sources:
      - path: MolocoAdapter
        excludes:
          - "**/*.h"
          - "**/*.modulemap"
          - "**/*.md"
          - "**/Tests/**"
          - "**/*.test.swift"
          - "**/*.spec.swift"
    dependencies:
      - framework: ../../../Build/XCFrameworks/MSPiOSCore.xcframework
        embed: false
      - framework: ../../../Build/XCFrameworks/MSPSharedLibraries.xcframework
        embed: false
      - framework: ../../../ThirdParty/PrebidMobile/PrebidMobile.xcframework
        embed: false
      - framework: ../../../ThirdParty/SnapKit/SnapKit.xcframework
        embed: false
      - framework: ../../../Pods/MolocoSDKiOS/MolocoSDK.xcframework
        embed: false
    settings:
      base:
        BUILD_LIBRARY_FOR_DISTRIBUTION: YES
        SKIP_INSTALL: NO
        MACH_O_TYPE: staticlib

        # Framework Search Paths
        FRAMEWORK_SEARCH_PATHS:
          - $(inherited)
          - $(SRCROOT)/../../../Build/XCFrameworks
          - $(SRCROOT)/../../../Pods/MolocoSDKiOS
          - $(SRCROOT)/../../../ThirdParty/PrebidMobile
          - $(SRCROOT)/../../../ThirdParty/SnapKit
          - $(SRCROOT)/../../../ThirdParty/Lottie
          - $(SRCROOT)/../../../ThirdParty/Shimmer
          - $(SRCROOT)/../../../ThirdParty/SwiftProtobuf

  MolocoAdapterTests:
    type: bundle.unit-test
    platform: iOS
    sources:
      - path: MolocoAdapterTests
    dependencies:
      - target: MolocoAdapter

schemes:
  MolocoAdapter:
    build:
      targets:
        MolocoAdapter: all
    run:
      config: Debug
    profile:
      config: Release
    analyze:
      config: Debug
    archive:
      config: Release
