.DS_Store
output/
outputMSPiOSCore/
outputNova/
NovaAdapter/NovaCore.xcframework/
MSPSharedLibraries/MSPiOSCore.xcframework
*.xcscmblueprint
*.xccheckout
xcuserdata
DerivedData
node_modules/
.idea/
Podfile.lock
*.xcuserdatad/
*.xcuserdata/
*.xcuserstate
Pods/
Podfile.lock
