<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSPDemoApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
				<key>dateExpires</key>
				<string>9/23/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.8.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>InMobiSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSPiOSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MobileFuseSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NovaCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.4.4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OMSDK_Newsbreak1.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.5.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OMSDK_Pubmatic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D02CB22459794F3B55C7FFEB485B9FE4684D1EF4</string>
						<key>dateExpires</key>
						<string>9/23/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PrebidMobile.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PEHUZX8QH</string>
						<key>name</key>
						<string>Particle Media Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4PEHUZX8QH.MSPDemoApp.MSPDemoApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4PEHUZX8QH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MSPDemoApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7c8f282a-1405-490f-b58e-2fd8cb007dea</string>
				<key>dateExpires</key>
				<string>2/21/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: MSPDemoApp.MSPDemoApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4PEHUZX8QH</string>
				<key>name</key>
				<string>Particle Media Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>24.30.0</string>
		</dict>
	</array>
</dict>
</plist>
