# PubmaticAdapter XcodeGen Project Specification
# Uses shared template and adds PubmaticAdapter-specific overrides
# Template: Config/xcodegen/module.project_template.yml

include:
  - ../../../Configs/xcodegen/module.project_template.yml

name: PubmaticAdapter

settings:
  base:
    # Product Configuration
    PRODUCT_NAME: PubmaticAdapter
    PRODUCT_BUNDLE_IDENTIFIER: msp.PubmaticAdapter
    PRODUCT_MODULE_NAME: PubmaticAdapter

targets:
  PubmaticAdapter:
    type: framework
    platform: iOS
    sources:
      - path: PubmaticAdapter
        excludes:
          - "**/*.h"
          - "**/*.modulemap"
          - "**/*.md"
          - "**/Tests/**"
          - "**/*.test.swift"
          - "**/*.spec.swift"
          - "PubmaticAdapter.docc/**"
    dependencies:
      - framework: ../../../Build/XCFrameworks/MSPiOSCore.xcframework
        embed: false
      - framework: ../../../Build/XCFrameworks/MSPSharedLibraries.xcframework
        embed: false
      - framework: ../../../Pods/OpenWrapSDK/OpenWrapSDK/OpenWrapSDK.xcframework
        embed: false
    settings:
      base:
        BUILD_LIBRARY_FOR_DISTRIBUTION: YES
        SKIP_INSTALL: NO
        
        # Framework Search Paths - XCFrameworks only
        FRAMEWORK_SEARCH_PATHS:
          - $(inherited)
          - $(SRCROOT)/../../../Build/XCFrameworks
          - $(SRCROOT)/../../Core/MSPSharedLibraries
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/Kingfisher
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/SnapKit
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/Lottie
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/Shimmer
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/SwiftProtobuf
          - $(SRCROOT)/../../../Sources/Core/MSPOMSDK/OMSDK_Newsbreak1.xcframework
          - $(SRCROOT)/../../../Pods/OpenWrapSDK/OpenWrapSDK

schemes:
  PubmaticAdapter:
    build:
      targets:
        PubmaticAdapter: all
    run:
      config: Debug
    profile:
      config: Release
    analyze:
      config: Debug
    archive:
      config: Release
