# MintegralAdapter XcodeGen Project Specification
# Uses shared template and adds MintegralAdapter-specific overrides
# Template: Config/xcodegen/module.project_template.yml

include:
  - ../../../Configs/xcodegen/module.project_template.yml

name: MintegralAdapter

settings:
  base:
    # Product Configuration
    PRODUCT_NAME: MintegralAdapter
    PRODUCT_BUNDLE_IDENTIFIER: msp.MintegralAdapter
    PRODUCT_MODULE_NAME: MintegralAdapter

targets:
  MintegralAdapter:
    type: framework
    platform: iOS
    sources:
      - path: MintegralAdapter
        excludes:
          - "**/*.h"
          - "**/*.modulemap"
          - "**/*.md"
          - "**/Tests/**"
          - "**/*.test.swift"
          - "**/*.spec.swift"
          - "MintegralAdapter.docc/**"
    dependencies:
      - framework: ../../../Build/ReleaseArtifacts/XCFrameworks/MSPiOSCore.xcframework
        embed: false
      - framework: ../../../Build/ReleaseArtifacts/XCFrameworks/MSPSharedLibraries.xcframework
        embed: false
      - framework: ../../../Build/ReleaseArtifacts/XCFrameworks/PrebidMobile.xcframework
        embed: false
      - framework: ../../../Pods/MintegralAdSDK/Fmk/MTGSDK.xcframework
        embed: false
      - framework: ../../../Pods/MintegralAdSDK/Fmk/MTGSDKBanner.xcframework
        embed: false
      - framework: ../../../Pods/MintegralAdSDK/Fmk/MTGSDKNewInterstitial.xcframework
        embed: false
      - framework: ../../../Pods/MintegralAdSDK/Fmk/MTGSDKInterstitialVideo.xcframework
        embed: false
      - framework: ../../../Pods/MintegralAdSDK/Fmk/MTGSDKBidding.xcframework
        embed: false
    settings:
      base:
        BUILD_LIBRARY_FOR_DISTRIBUTION: YES
        SKIP_INSTALL: NO
        
        # Framework Search Paths - XCFrameworks only
        FRAMEWORK_SEARCH_PATHS:
          - $(inherited)
          - $(SRCROOT)/../../../Build/ReleaseArtifacts/XCFrameworks
          - $(SRCROOT)/../../Core/MSPSharedLibraries
          - $(SRCROOT)/../../../Sources/Core/MSPOMSDK/OMSDK_Newsbreak1.xcframework
          - $(SRCROOT)/../../../Pods/MintegralAdSDK/Fmk

schemes:
  MintegralAdapter:
    build:
      targets:
        MintegralAdapter: all
    run:
      config: Debug
    profile:
      config: Release
    analyze:
      config: Debug
    archive:
      config: Release
