# NovaAdapter XcodeGen Project Specification
# Uses shared template and adds NovaAdapter-specific overrides
# Template: Config/xcodegen/module.project_template.yml

include:
  - ../../../Configs/xcodegen/module.project_template.yml

name: NovaAdapter

settings:
  base:
    # Product Configuration
    PRODUCT_NAME: MSPNovaAdapter
    PRODUCT_BUNDLE_IDENTIFIER: msp.MSPNovaAdapter
    PRODUCT_MODULE_NAME: MSPNovaAdapter

targets:
  NovaAdapter:
    type: framework
    platform: iOS
    sources:
      - path: NovaAdapter
        excludes:
          - "**/*.h"
          - "**/*.modulemap"
          - "**/*.md"
          - "**/Tests/**"
          - "**/*.test.swift"
          - "**/*.spec.swift"
          - "NovaAdapter.docc/**"
    dependencies:
      - framework: ../../../Build/XCFrameworks/MSPiOSCore.xcframework
        embed: false
      - framework: ../../../Build/XCFrameworks/PrebidMobile.xcframework
        embed: false
      - framework: ../../../Build/XCFrameworks/NovaCore.xcframework
        embed: false
      - framework: ../../Core/ThirdParty/Kingfisher/Kingfisher.xcframework
        embed: false
      - framework: ../../Core/ThirdParty/SnapKit/SnapKit.xcframework
        embed: false
      - framework: ../../Core/ThirdParty/Lottie/Lottie.xcframework
        embed: false
      - framework: ../../../ThirdParty/Shimmer/Shimmer.xcframework
        embed: false
    settings:
      base:
        BUILD_LIBRARY_FOR_DISTRIBUTION: YES
        SKIP_INSTALL: NO
        MACH_O_TYPE: staticlib
        OTHER_SWIFT_FLAGS: "$(inherited) -Xfrontend -disable-autolink-framework -Xfrontend CoreAudioTypes -Xfrontend -disable-autolink-framework -Xfrontend UIUtilities"
        
        # Framework Search Paths - XCFrameworks only
        FRAMEWORK_SEARCH_PATHS:
          - $(inherited)
          - $(SRCROOT)/../../../Build/XCFrameworks
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/Kingfisher
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/SnapKit
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/Lottie
          - $(SRCROOT)/../../../ThirdParty/Shimmer
          - $(SRCROOT)/../../../Sources/Core/ThirdParty/SwiftProtobuf
          - $(SRCROOT)/../../../Sources/Core/MSPOMSDK/OMSDK_Newsbreak1.xcframework

schemes:
  NovaAdapter:
    build:
      targets:
        NovaAdapter: all
    run:
      config: Debug
    profile:
      config: Release
    analyze:
      config: Debug
    archive:
      config: Release
